
.right-side-modal {
    position: fixed;
    top: 0;
    z-index: 1; 
    right: -400px; 
    width: 400px; 
    height: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
  }
  
  .right-side-modal.open {
    right: 0; 
  }
  

  .modal-header {
    padding: 3px 3px;
    background-color: skyblue;
    color: white;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }


  .modal-content {
    padding: 20px;
    background-color: #fefefe;
    padding: 20px;
    height:75%;
  }

  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }


  .modal-footer {
    padding: 10px 16px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }


  .back-button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }

  .back-button:hover {
    background-color: #0056b3;
  }

  .btn-save{
    padding: 7px;
    background: steelblue;
    color: white;
    border: 0;
    border-radius: 2px;
    
  }
  .btn-cancel{
    margin-left:10px;
    padding: 7px;
    background: white;
    color: red;
    border: 0;
    border-radius: 2px;
  }